version: '3.4'

services:
  nodecontainer:
    image: nodecontainer
    build:
      context: docker/node_container
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
